* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(63,40,0,0.1);
}

/* .toppage {
  background-color: #f5f5f5;
} */

.top {
  
  padding: 40px;
}



/* .font {
  font-family:'The Redlight Free';
  color: #3e2e28;
  font-size: 80px;
  text-align: center;
} */
/* .form {
  text-align: center;
} */


.artist  {
  font-family: 'Fredericka the Great', cursive;
  /* font-family:'The Redlight Free'; */
  color: #3e2e28;
  margin: 80px;
  /* padding: 0.5em 1em;
  margin: 2em 0;
  background: -webkit-repeating-linear-gradient(-45deg, #d3d3d3, #d3d3d3 3px,#dcdcdc 3px, #dcdcdc 7px);
  background: repeating-linear-gradient(-45deg, #d3d3d3, #d3d3d3 3px,#dcdcdc 3px, #dcdcdc 7px); */
  padding: 0.2em 0.5em;
  margin: 2em 1em;
  /* background: rgb(102,64,0,0.1);
  box-shadow: 0px 0px 0px 10px rgb(102,64,0,0.1);
  border: dashed 2px rgb(102,64,0,0.8); */
  background: rgb(255,165,0,0.2);
  box-shadow: 0px 0px 0px 10px rgb(255,165,0,0.2);
  border: dashed 2px rgb(255,165,0,0.8);
  border-radius: 8px;
}

.artist a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none;
  color: #666;
  font-size: 40px;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Nanum Brush Script', cursive; */
  font-family: 'Nanum Gothic', sans-serif;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}

.list1 {
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
}


.list1 > *{
  min-width: 8%;
  /* background: #fff; */
  font-size: 50px;
  text-align: center;
}
.list2 {
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list2 > *{
  min-width: 8%;
  /* background: #fff; */
  font-size: 50px;
  text-align: center;
}

.list3 {
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list3 > *{
  min-width: 8%;
  /* background: #fff; */
  font-size: 50px;
  text-align: center;
}

.typing {
  /* border-top: 1px solid rgb(255,165,0,0.8); */
  box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.5);
  padding-bottom: 10px;
}

.description {
  text-align: center;
  padding-top: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.wrap {
  text-align: center;
  margin: 60px;
  padding: 30px;
  border: 2mm solid rgb(255,165,0,0.8);
}

.song {
  text-align: center;
  padding-top: 30px;
  font-family: 'Noto Sans JP', sans-serif;
}
.info {
  border-bottom: 1px solid rgb(255,165,0,0.8);
  font-size: 2em;
}

.album {
  font-size: 1.5em;
  padding-top: 20px;
}

#korean {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

#text {
  font-size: 2em;
  font-weight: bold;
  color: rgb(165, 164, 164);
  text-align: center;
  margin:0 0 40px 0;
  font-family: 'Noto Sans JP', sans-serif;
}

span {
  transition: all 300ms 0s ease;
}

.add-blue {
  font-size: 0.5em;
  color: black;
}

.add-red {
  font-size: 1.5em;
  color: red;
}

#count {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#start_button {
  color:rgb(255,165,0,0.8);
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Kaushan Script', cursive;
  padding: 5px;
}

