<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*$) https://korean-culture.net/$1 [R=301,L]
    RewriteCond %{HTTPS} on
    RewriteCond %{HTTP_HOST} ^www.korean-culture.net$
    RewriteRule ^(.*)$ https://korean-culture.net/$1 [R=301,L]
</IfModule>
